@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
  background-color: #0F172A;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;

}
canvas {
  display: block;
  vertical-align: top;
} /* ---- particles.js container ---- */
#root {

 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
} /* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.js-count-particles {
  font-size: 1.1em;
}
#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}
#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
.count-particles {
  border-radius: 0 0 3px 3px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.header {
  background-image: url("./assets/3DBg.png");
  /* background-color: #13e8e9; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
 backface-visibility: visible;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #CBD5E1;
  -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #94A3B8;
  -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}